.notif {
  position: relative;
}

.notifIcon {
  height: 19.443px;
  width: 19.867px;
}

.notifStats {
  align-items: center;
  background: var(--light-color-system-error-normal, #E03616);
  border-radius: 10px;
  color: var(--light-color-base-tertiary-light, #FFF);
  display: inline-flex;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  line-height: normal;
  padding: 1.67px 4.33px 2.33px 4.67px;
  position: absolute;
  right: -2px;
  top: 1px;
}