.cardHorizontal {
  margin-top: 15px;
}

.eventLocation {
  align-items: center;
  display: flex;
}

.eventLocationIcon {
  margin-right: 8px;
}

.eventLocationText {
  color: var(--light-color-base-primary-normal, #333232);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.056px;
  line-height: 150%; /* 21px */
}

.eventDate {
  align-items: center;
  display: flex;
}

.eventDateIcon {
  margin-right: 8px;
}

.eventDateText {
  color: var(--light-color-base-primary-normal, #333232);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.056px;
  line-height: 150%; /* 21px */
}

.sliderCategory {
  display: flex;
  gap: 8px;
  margin-top: 15px;
  overflow-x: scroll;
}

.sliderCategoryItem {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.sliderCategoryItem .sliderCategoryComponent {
  cursor: pointer;
  flex-basis: 97px;
  flex-grow: 1;
  flex-shrink: 0;
}

.sliderCategoryItem .sliderCategoryComponent:nth-child(2) {
  margin-top: 8px;
}