.card {
  background: rgba(255, 240, 229, 0.26);
  border: 1px solid rgba(255, 214, 184, 0.80);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(255, 240, 229, 0.08);
  display: flex;
  gap: 10px;
  padding: 14px 8px 14px 12px;
}

.cardData {
  flex-grow: 1;
}

.cardImage {
  border-radius: 10px;
  height: 94px;
  width: 94px;
}

.cardTitle {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardDate {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.cardDateIcon {
  margin-right: 5px;
}

.cardDateText {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardTime {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.cardTimeIcon {
  margin-right: 5px;
}

.cardTimeText {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.cardPrice {
  color: var(--primary-color-primary-main-500, #F71);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

.cardOptions {
  cursor: pointer;
}