.eventLocation {
  align-items: center;
  display: flex;
}

.eventLocationIcon {
  margin-right: 8px;
}

.eventLocationText {
  color: var(--light-color-base-primary-normal, #333232);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.056px;
  line-height: 150%; /* 21px */
}
