.container {
  padding: 14px;
}

.cardVertical {
  margin-top: 15px;
}

.cardHorizontal {
  margin-top: 15px;
}

.eventLocation {
  align-items: center;
  display: flex;
}

.eventLocationIcon {
  margin-right: 8px;
}

.eventLocationText {
  color: var(--light-color-base-primary-normal, #333232);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.056px;
  line-height: 150%; /* 21px */
}

.eventDate {
  align-items: center;
  display: flex;
}

.eventDateIcon {
  margin-right: 8px;
}

.eventDateText {
  color: var(--light-color-base-primary-normal, #333232);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.056px;
  line-height: 150%; /* 21px */
}

.eventCategory {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}