@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.action-button:hover .dropdown {
  display: flex;
}

@layer components {
  .action-button {
    @apply bg-[#fff]/30 p-1 rounded
  }
  .input-field {
    @apply border border-[#EBEBEB] rounded-md py-3 px-2 focus:outline-none
  }
  .flexed {
    @apply flex items-center gap-2
  }
}

@layer textUtils{
  /* Hey There all the Text Styles defined in the figma file are listed below
  please use them accordingly and if you want to get semibold or bold font weights
  as per the design prefer using font-semibold and font-bold respectively along
  with the below mentioned text utility classes 
  
  e.g. to get 
        For Figma Text Value 'Display M - Semibold' use '.text-display-m' class along with '.font-semibold' class
        For Figma Text Value 'Display XL - Bold' use '.text-display-xl' class along with '.font-bold' class
        and so on...*/
  .text-huge{
    @apply text-[3.5rem] leading-[150%] font-normal
  }
  .text-display-xl{
    @apply text-5xl leading-[150%] font-normal
  }
  .text-display-l{
    @apply text-4xl leading-[150%] font-normal
  }
  .text-display-m{
    @apply text-3xl leading-[150%] font-normal
  }
  .text-display-m{
    @apply text-[1.75rem] leading-[150%] font-normal
  }
  .text-h1{
    @apply text-2xl leading-[150%] font-normal
  }
  .text-h2{
    @apply text-xl leading-[150%] font-normal
  }
  .text-h3{
    @apply text-lg leading-[150%] font-normal
  }
  .text-h4{
    @apply text-base leading-[150%] font-normal
  }
  .text-h5{
    @apply text-sm leading-[150%] font-normal
  }
  .text-h6{
    @apply text-xs leading-[150%] font-normal
  }
  .text-caption-m{
    @apply text-[0.63rem] leading-[150%] font-normal
  }
  .text-caption-s{
    @apply text-[0.5rem] leading-[150%] font-normal
  }
}


.h-screen {
  overflow-x: hidden;
}


.slide-enter, .slide-exit {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.5s ease;
}

.slide-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.8s ease, opacity 0.5s ease;
}


.bg-image{
  background-image: url("../assets/main-bg.png");
}
.no-scrollbar{
  -ms-overflow-style:none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
.selected-user{
  @apply bg-slate-300;
}