.personLayout {
  display: flex;
  gap: 10px;
}

.personDataLayout {
  align-self: center;
  flex-grow: 1;  
}

.personDataName {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.personDataAddress {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.personPostDate{
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.postComment {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}

.actionLayout {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.action {
  cursor: pointer;
  display: flex;
}

.actionIcon {
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.actionStats {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}