.avatar {
  align-items: center;
  border: 2px solid #F71;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 3.333px 3.117px 3.334px 3.55px;
  position: relative;
  width: 40px;
}

.avatarImage {
  border-radius: 50%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  width: 100%;
}

.avatarLabel {
  background: #F71;
  border-radius: 7px;
  bottom: -2px;
  color: var(--light-color-base-tertiary-light, #FFF);
  font-size: 11.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2.8px 12px;
  position: absolute;
}

.feed {
  background-color: #000000;
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.feed video {
  margin: 0 auto;
}

.feedShow {
  display: block;
}

.feedClose {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}